<br>

<div class="container">

<h2>Mensajes del Proyecto</h2>
<br>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Título</th>
      <th>Descripción</th>
      <th>Destinatarios</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.messtype %></td>
        <td><%= message.title %></td>
        <td><%= truncate(message.description, length: 70, separator: '..')%></td>
        <td><%= message.receivers %></td>
        <td><%= link_to 'Mostrar', mainproject_message_path(@mainproject, message) %></td>
        <td><%= link_to 'Editar', edit_mainproject_message_path(:mainproject_id=> @mainproject.id, :id=>message.id) %></td>
        <td><%= link_to 'Borrar', mainproject_message_path(@mainproject, message), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
 
</table>

<br>

<%= link_to 'Crear Mensaje', new_mainproject_message_path %>

</div>
