<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Hito:</strong>
  <%= @milestone.milestone %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @milestone.projtype %>
</p>

<p>
  <strong>Fecha Fin:</strong>
  <%= @milestone.duedate %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @mainproject.name %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @mainproject.user.email %>
</p>

<%= link_to 'Edit', edit_mainproject_milestone_path(:mainproject_id=> @mainproject.id, :id=> @milestone.id) %> |
<%= link_to 'Back', mainproject_milestones_path %>
</div>