<br>
<div class="container" style="max-width:500px; border: 2px solid #E6E6E6; padding:20px; border-radius: 25px">
<h3>Registrarse</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, :style=>"margin:0px" %>
    <%= f.email_field :email, autofocus: true %>
  </div>
<br>
  <div class="field">
    <%= f.label :password, :style=>"margin:0px" %>
    <% if @minimum_password_length %>
    <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
<br>
  <div class="field">
    <%= f.label :Confirmar_Password, :style=>"margin:0px" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
	
</div>