<br>

<div class="container">

<h1>Listado de Proyectos</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Nombre del Proyecto</th>
      <th>Creado por:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @mainprojects.each do |mainproject| %>
     
      <tr>
        <td><%= mainproject.company %></td>
        <td><%= mainproject.name %></td>
        <td><%= mainproject.user.email %></td>
        <td><%= link_to mainproject, class: "btn btn-primary active" do %><span class="glyphicon glyphicon-search"></span>  Ingresar<% end %></td>
      </tr>
    
    <% end %>
  
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Proyecto', new_mainproject_path %>

</div>
