
<div class="row">
  <div class="col-md-12">

  <br>

<div class="container-fluid">
<div class='square-content'>
<p style="text-align:center; margin:0 0 0.5em 0; font-size:x-large">
  <strong>Empresa:</strong>
  <%= @mainproject.company %>
</p>

<p style="margin:0 0 0.5em 0">
  <strong>Proyecto:</strong>
  <%= @mainproject.name %>
</p>

<p style="margin:0 0 0.5em 0">
  <strong>Creado por:</strong>
  <%= @mainproject.user.try(:email)  %>
</p>

<div class="edition">
<%= link_to 'Editar |', edit_mainproject_path(@mainproject), :style=>'color:#454C53;' %> 
<td><%= link_to 'Borrar |', @mainproject, method: :delete, data: { confirm: '¿Estás seguro de querer borrar el proyecto?' }, :style=>'color:#454C53;' %></td> 
<%= link_to 'Atrás', mainprojects_path, :style=>'color:#454C53;' %>
	
		</div>
	</div>
</div>

  </div>


   <div class="col-md-12">
<br>
  <div class="container-fluid">
  
  <img style="width: 100%; filter: grayscale(90%); -webkit-filter: grayscale(50%)" src="<%= asset_path('globe2.jpg')  %>" />
   </div>
   </div>

<!-- Three 
  <div class="col-md-8">
  <div class="container-fluid">
  <img class="soccphot" src="<%= asset_path('mountain.jpg')  %>" />
   </div>
   </div>
   -->
   
 
</div>
<br>
<div class="row">
  <div class="col-md-4">
 <div class="container-fluid">
<a href="<%= mainproject_milestones_path(@mainproject) %>" data-toggle="tooltip" title="Se ingresan los hitos del proyecto como input para el resto de los componentes" id= "boton" type="button" class="btn btn-primary btn-lg btn-block">Gestión de Proyectos</a>	
</div>
</div>

  <div class="col-md-4" style="padding-left:0px">
  <div class="container-fluid">
<a href="<%= mainproject_messages_path(@mainproject) %>" data-toggle="tooltip" title="Se crean las campañas y mensajes para cada hito del proyecto. Permite enviar los mensajes a los destinatarios desde la plataforma" id= "boton" type="button" class="btn btn-primary btn-lg btn-block">Gestión de Comunicaciones</a>  
</div>
</div>

  <div class="col-md-4" style="padding-left:0px">
  <div class="container-fluid">
<a a href="<%= mainproject_stakeholders_path(@mainproject) %>" data-toggle="tooltip" title="Se gestiona el involucramiento de los roles claves de la organización. Se caracteriza a las personas claves determinando sus necesidades de comunicación." id= "boton" type="button" class="btn btn-primary btn-lg btn-block">Gestión de Stakeholders</a>  

    </div>
  </div>
</div>
</div>

  <script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>
  